.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995)
    forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 3.9215686275%;
  left: 64.9606299213%;
  font-size: 16px;
  filter: blur(0.02px);
  animation: 33s float infinite;
}
.particle:nth-child(2) {
  top: 71.2195121951%;
  left: 78.431372549%;
  font-size: 20px;
  filter: blur(0.04px);
  animation: 39s float infinite;
}
.particle:nth-child(3) {
  top: 73.6196319018%;
  left: 83.7438423645%;
  font-size: 15px;
  filter: blur(0.06px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(4) {
  top: 25.458996328%;
  left: 36.3815142576%;
  font-size: 17px;
  filter: blur(0.08px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 26.0869565217%;
  left: 17.5097276265%;
  font-size: 28px;
  filter: blur(0.1px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(6) {
  top: 42.4607961399%;
  left: 32.0699708455%;
  font-size: 29px;
  filter: blur(0.12px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(7) {
  top: 82.9268292683%;
  left: 24.5098039216%;
  font-size: 20px;
  filter: blur(0.14px);
  animation: 39s float2 infinite;
}
.particle:nth-child(8) {
  top: 45.5757575758%;
  left: 61.4634146341%;
  font-size: 25px;
  filter: blur(0.16px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(9) {
  top: 46.265060241%;
  left: 39.8058252427%;
  font-size: 30px;
  filter: blur(0.18px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(10) {
  top: 74.8481166464%;
  left: 25.4154447703%;
  font-size: 23px;
  filter: blur(0.2px);
  animation: 24s float infinite;
}
.particle:nth-child(11) {
  top: 52.1525215252%;
  left: 42.4481737414%;
  font-size: 13px;
  filter: blur(0.22px);
  animation: 33s float infinite;
}
.particle:nth-child(12) {
  top: 16.4251207729%;
  left: 23.3463035019%;
  font-size: 28px;
  filter: blur(0.24px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(13) {
  top: 75.0304506699%;
  left: 58.7659157689%;
  font-size: 21px;
  filter: blur(0.26px);
  animation: 27s float infinite;
}
.particle:nth-child(14) {
  top: 17.3913043478%;
  left: 6.8093385214%;
  font-size: 28px;
  filter: blur(0.28px);
  animation: 28s float2 infinite;
}
.particle:nth-child(15) {
  top: 19.3236714976%;
  left: 18.4824902724%;
  font-size: 28px;
  filter: blur(0.3px);
  animation: 28s float2 infinite;
}
.particle:nth-child(16) {
  top: 58.3941605839%;
  left: 27.397260274%;
  font-size: 22px;
  filter: blur(0.32px);
  animation: 36s float2 infinite;
}
.particle:nth-child(17) {
  top: 58.8957055215%;
  left: 66.9950738916%;
  font-size: 15px;
  filter: blur(0.34px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(18) {
  top: 84.1596130593%;
  left: 77.8967867575%;
  font-size: 27px;
  filter: blur(0.36px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(19) {
  top: 28.0871670702%;
  left: 25.3411306043%;
  font-size: 26px;
  filter: blur(0.38px);
  animation: 38s float infinite;
}
.particle:nth-child(20) {
  top: 81.5533980583%;
  left: 4.8828125%;
  font-size: 24px;
  filter: blur(0.4px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(21) {
  top: 47.7466504263%;
  left: 29.3829578844%;
  font-size: 21px;
  filter: blur(0.42px);
  animation: 29s float infinite;
}
.particle:nth-child(22) {
  top: 93.6067551267%;
  left: 30.1263362488%;
  font-size: 29px;
  filter: blur(0.44px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(23) {
  top: 92.5700365408%;
  left: 69.5396669931%;
  font-size: 21px;
  filter: blur(0.46px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(24) {
  top: 37.3464373464%;
  left: 81.8540433925%;
  font-size: 14px;
  filter: blur(0.48px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(25) {
  top: 68.8806888069%;
  left: 60.2171767029%;
  font-size: 13px;
  filter: blur(0.5px);
  animation: 33s float2 infinite;
}
.particle:nth-child(26) {
  top: 74.9691738594%;
  left: 56.3798219585%;
  font-size: 11px;
  filter: blur(0.52px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(27) {
  top: 15.763546798%;
  left: 92.8853754941%;
  font-size: 12px;
  filter: blur(0.54px);
  animation: 37s float infinite;
}
.particle:nth-child(28) {
  top: 58.1818181818%;
  left: 21.4634146341%;
  font-size: 25px;
  filter: blur(0.56px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(29) {
  top: 89.5377128954%;
  left: 10.7632093933%;
  font-size: 22px;
  filter: blur(0.58px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(30) {
  top: 94.8004836759%;
  left: 87.6338851022%;
  font-size: 27px;
  filter: blur(0.6px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(31) {
  top: 77.2946859903%;
  left: 66.1478599222%;
  font-size: 28px;
  filter: blur(0.62px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(32) {
  top: 14.6699266504%;
  left: 76.6208251473%;
  font-size: 18px;
  filter: blur(0.64px);
  animation: 39s float2 infinite;
}
.particle:nth-child(33) {
  top: 22.4664224664%;
  left: 10.7948969578%;
  font-size: 19px;
  filter: blur(0.66px);
  animation: 30s float2 infinite;
}
.particle:nth-child(34) {
  top: 74.7572815534%;
  left: 83.0078125%;
  font-size: 24px;
  filter: blur(0.68px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(35) {
  top: 36.7593712213%;
  left: 48.6854917235%;
  font-size: 27px;
  filter: blur(0.7px);
  animation: 25s float2 infinite;
}
.particle:nth-child(36) {
  top: 23.645320197%;
  left: 49.4071146245%;
  font-size: 12px;
  filter: blur(0.72px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 79.9025578563%;
  left: 10.7737512243%;
  font-size: 21px;
  filter: blur(0.74px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(38) {
  top: 35.0791717418%;
  left: 78.3545543585%;
  font-size: 21px;
  filter: blur(0.76px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(39) {
  top: 30.2808302808%;
  left: 32.3846908734%;
  font-size: 19px;
  filter: blur(0.78px);
  animation: 24s float2 infinite;
}
.particle:nth-child(40) {
  top: 29.520295203%;
  left: 22.7048371175%;
  font-size: 13px;
  filter: blur(0.8px);
  animation: 40s float2 infinite;
}
.particle:nth-child(41) {
  top: 46.8864468864%;
  left: 81.452404318%;
  font-size: 19px;
  filter: blur(0.82px);
  animation: 26s float2 infinite;
}
.particle:nth-child(42) {
  top: 18.4690157959%;
  left: 82.1114369501%;
  font-size: 23px;
  filter: blur(0.84px);
  animation: 34s float infinite;
}
.particle:nth-child(43) {
  top: 45.0428396573%;
  left: 93.4119960669%;
  font-size: 17px;
  filter: blur(0.86px);
  animation: 36s float infinite;
}
.particle:nth-child(44) {
  top: 42.6150121065%;
  left: 26.3157894737%;
  font-size: 26px;
  filter: blur(0.88px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(45) {
  top: 92.4574209246%;
  left: 76.3209393346%;
  font-size: 22px;
  filter: blur(0.9px);
  animation: 32s float2 infinite;
}
.particle:nth-child(46) {
  top: 16.4251207729%;
  left: 7.7821011673%;
  font-size: 28px;
  filter: blur(0.92px);
  animation: 30s float infinite;
}
.particle:nth-child(47) {
  top: 10.6537530266%;
  left: 31.1890838207%;
  font-size: 26px;
  filter: blur(0.94px);
  animation: 25s float2 infinite;
}
.particle:nth-child(48) {
  top: 3.8882138518%;
  left: 50.8308895406%;
  font-size: 23px;
  filter: blur(0.96px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(49) {
  top: 30.8805790109%;
  left: 7.7745383868%;
  font-size: 29px;
  filter: blur(0.98px);
  animation: 31s float infinite;
}
.particle:nth-child(50) {
  top: 7.7108433735%;
  left: 75.7281553398%;
  font-size: 30px;
  filter: blur(1px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(51) {
  top: 23.645320197%;
  left: 63.2411067194%;
  font-size: 12px;
  filter: blur(1.02px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(52) {
  top: 64.8125755744%;
  left: 22.3953261928%;
  font-size: 27px;
  filter: blur(1.04px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(53) {
  top: 82.7586206897%;
  left: 68.1818181818%;
  font-size: 12px;
  filter: blur(1.06px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(54) {
  top: 51.4563106796%;
  left: 30.2734375%;
  font-size: 24px;
  filter: blur(1.08px);
  animation: 24s float infinite;
}
.particle:nth-child(55) {
  top: 32.7710843373%;
  left: 27.1844660194%;
  font-size: 30px;
  filter: blur(1.1px);
  animation: 22s float2 infinite;
}
.particle:nth-child(56) {
  top: 12.5452352232%;
  left: 78.7172011662%;
  font-size: 29px;
  filter: blur(1.12px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(57) {
  top: 70.243902439%;
  left: 3.9215686275%;
  font-size: 20px;
  filter: blur(1.14px);
  animation: 28s float2 infinite;
}
.particle:nth-child(58) {
  top: 81.0744810745%;
  left: 79.4896957802%;
  font-size: 19px;
  filter: blur(1.16px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(59) {
  top: 26.3093788063%;
  left: 85.2105778648%;
  font-size: 21px;
  filter: blur(1.18px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(60) {
  top: 13.7592137592%;
  left: 95.6607495069%;
  font-size: 14px;
  filter: blur(1.2px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(61) {
  top: 11.8372379778%;
  left: 74.1839762611%;
  font-size: 11px;
  filter: blur(1.22px);
  animation: 28s float infinite;
}
.particle:nth-child(62) {
  top: 7.8048780488%;
  left: 7.8431372549%;
  font-size: 20px;
  filter: blur(1.24px);
  animation: 22s float2 infinite;
}
.particle:nth-child(63) {
  top: 18.7422934649%;
  left: 74.1839762611%;
  font-size: 11px;
  filter: blur(1.26px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(64) {
  top: 80.9638554217%;
  left: 41.7475728155%;
  font-size: 30px;
  filter: blur(1.28px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(65) {
  top: 51.1459589867%;
  left: 97.1817298348%;
  font-size: 29px;
  filter: blur(1.3px);
  animation: 40s floatReverse infinite;
}
.particle:nth-child(66) {
  top: 42.4167694205%;
  left: 77.1513353116%;
  font-size: 11px;
  filter: blur(1.32px);
  animation: 37s float2 infinite;
}
.particle:nth-child(67) {
  top: 26.2773722628%;
  left: 45.0097847358%;
  font-size: 22px;
  filter: blur(1.34px);
  animation: 34s float infinite;
}
.particle:nth-child(68) {
  top: 11.5662650602%;
  left: 40.7766990291%;
  font-size: 30px;
  filter: blur(1.36px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(69) {
  top: 44.5520581114%;
  left: 38.0116959064%;
  font-size: 26px;
  filter: blur(1.38px);
  animation: 40s float2 infinite;
}
.particle:nth-child(70) {
  top: 35.1219512195%;
  left: 60.7843137255%;
  font-size: 20px;
  filter: blur(1.4px);
  animation: 22s float infinite;
}
.particle:nth-child(71) {
  top: 69.9878493317%;
  left: 48.8758553275%;
  font-size: 23px;
  filter: blur(1.42px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(72) {
  top: 7.8527607362%;
  left: 19.7044334975%;
  font-size: 15px;
  filter: blur(1.44px);
  animation: 25s float2 infinite;
}
.particle:nth-child(73) {
  top: 35.0791717418%;
  left: 28.4035259549%;
  font-size: 21px;
  filter: blur(1.46px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(74) {
  top: 97.1779141104%;
  left: 93.5960591133%;
  font-size: 15px;
  filter: blur(1.48px);
  animation: 31s float2 infinite;
}
.particle:nth-child(75) {
  top: 34.9090909091%;
  left: 80%;
  font-size: 25px;
  filter: blur(1.5px);
  animation: 35s float2 infinite;
}
.particle:nth-child(76) {
  top: 65.5421686747%;
  left: 15.5339805825%;
  font-size: 30px;
  filter: blur(1.52px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(77) {
  top: 9.828009828%;
  left: 18.7376725838%;
  font-size: 14px;
  filter: blur(1.54px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(78) {
  top: 47.8048780488%;
  left: 1.9607843137%;
  font-size: 20px;
  filter: blur(1.56px);
  animation: 25s float2 infinite;
}
.particle:nth-child(79) {
  top: 59.2952612394%;
  left: 51.8084066471%;
  font-size: 23px;
  filter: blur(1.58px);
  animation: 40s float2 infinite;
}
.particle:nth-child(80) {
  top: 92.8657799274%;
  left: 44.7906523856%;
  font-size: 27px;
  filter: blur(1.6px);
  animation: 36s floatReverse2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
